{% macro el(crud, row, column) -%}

{% set style = '' %}
{% if 'style' in  column %}
{% set style = column.style %}
{% endif %}




{% if column.name  == crud.label_prop or column.as=='href' %}
<a href="{{ url_for('%s.edit' % crud.name, id=crud.get_id(row)) }}">
	<span style="{{style}}">{{row[column.name] | safe}}</span></a>
{% elif column.as=='img' %}
<a href="{{ url_for('%s.edit' % crud.name, id=crud.get_id(row)) }}">
<img src="{{row[column.name]}}" style="{{style}}"/>
</a>
{% else %}
<span style="{{style}}">{{row[column.name] | safe}}</span>
{% endif %}


{%- endmacro %}


{% macro field_label(crud, column) -%}

{% if column in crud.labels  %}
	{{ crud.labels[column]}}
{% else %}
	{{ column.capitalize() }}
{% endif %}


{%- endmacro %}