{% extends "layout/sidebar.html" %}

{% import 'macros/forms.html' as forms %}


{% block head %}
 <link href="{{ url_for('static',filename='css/bootstrap-wysihtml5-0.0.2.css')}}" rel="stylesheet">
{% endblock %}

   
{% block footer_scripts %}  
 <script src="{{ url_for('static',filename='js/wysihtml5-0.3.0_rc2.js')}}"></script>
 <script src="{{ url_for('static',filename='js/bootstrap-wysihtml5-0.0.2.min.js')}}"></script>

<script type="text/javascript">

$(function() {
  $('.richtext').wysihtml5();
});

</script>

{% endblock %}


{% block main_title %} {{crud.label}}s {% endblock %}

{% block main_body %}


<form class="form-horizontal" method="post" >
	{% block form %}
            <legend>Add {{crud.label}}</legend>

  {{ forms.form_body(form, form_data, form_errors)}}

    {% endblock %}     
           
        
<div class="form-actions">
  <button type="submit" class="btn btn-primary">Save changes</button>
  <a class="btn" href="{{ url_for('%s.list' % crud_name) }}">Cancel</a> 
</div>


          </form>

{% endblock %}