{% extends "layout/sidebar.html" %}

{% import 'macros/forms.html' as forms %}


{% block main_title %} {{crud.label}}s {% endblock %}

{% block main_body %}


<form class="form-horizontal" method="post" >
	{% block form %}
            <legend>Add {{crud.label}}</legend>

  {{ forms.form_body(form, obj)}}

    {% endblock %}     
           
        
<div class="form-actions">
  <button type="submit" class="btn btn-primary">Save changes</button>
  <a class="btn" href="{{ url_for('%s.list' % crud_name) }}">Cancel</a> 
</div>


          </form>

{% endblock %}