<!DOCTYPE html>
<html>
  <head>
    <title>{{app.project_name}}</title>
    <!-- Bootstrap -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static',filename='bootstrap/css/bootstrap.css')}}" rel="stylesheet">
    <link href="{{ url_for('static',filename='bootstrap/css/bootstrap-responsive.css')}}" rel="stylesheet">

 <style>
      body {
        padding-top: 60px; 
      }
    </style>

  </head>
  <body>


	<div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="{{ url_for('index') }}">{{app.project_name}}</a> {{current_app}}
        </div>
      </div>
    </div>


 	<div class="container">


{% block main %}  
    	<h1>Hello, world!</h1>
{% endblock %}
	</div>


    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ url_for('static',filename='js/jquery.js')}}"></script>
    <script src="{{ url_for('static',filename='bootstrap/js/bootstrap.js')}}"></script>
  </body>
</html>