{% extends "layout/sidebar.html" %}

{% import 'macros/forms.html' as forms %}

{% set navigation_hint = 'users' %}

{% block main_title %} Users  {% endblock %}

{% block main_body %}


<form class="form-horizontal" method="post" action="{{ url_for('users') }}">
            <legend>Add User</legend>
         
            {{ forms.input('username','Username', value=obj.username) }}
            {{ forms.input('first_name','First Name' , value=obj.first_name) }}
            {{ forms.input('last_name','Last Name', value=obj.last_name ) }}

        
<div class="form-actions">
  <button type="submit" class="btn btn-primary">Save changes</button>
  <a class="btn" href="{{ url_for('users') }}">Cancel</a> 
</div>


          </form>

{% endblock %}